@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

:root {
  /* Colours */
  --purple-50: hsl(260, 100%, 95%);
  --purple-300: hsl(264, 82%, 80%);
  --purple-500: hsl(263, 55%, 52%);
  --white: hsl(0, 0%, 100%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);

  /* Font */
  --font-primary: "Barlow Semi Condensed", sans-serif;
  --font-size-base: 13px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size-base);
  font-family: var(--font-primary);
  background-color: var(--grey-100);
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 5rem 0;
  padding: 0 1.5rem;
}

.card {
  width: 100%;
  max-width: 327px;
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.1);
}

.title {
  display: flex;
  gap: 1rem;
}

h1 {
  font-size: 1rem;
  font-weight: 500;
}

h2 {
  font-size: 0.8rem;
  font-weight: 500;
}

img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.content {
  width: 100%;
}

.headline {
  font-size: 1.7rem;
  margin: 1.2rem 0;
}

.quote {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

#daniel {
  background-color: var(--purple-500);
  color: white;
}

#daniel-img {
  border: 1.5px solid var(--purple-300);
}

#jonathan {
  background-color: var(--grey-500);
  color: white;
}

#jonathan-img {
  border: 1.5px solid var(--white);
}

#jeanette {
  background-color: var(--white);
  color: var(--grey-500);
}

#patrick {
  background-color: var(--dark-blue);
  color: var(--white);
}

#patrick-img {
  border: 1.5px solid var(--purple-300);
}

#kira {
  background-color: var(--white);
  color: var(--grey-500);
}

@media (min-width: 1024px) {
  body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main {
    width: 100%;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    width: 1280px;
    gap: 1.85rem;
    margin: 5rem auto;

    .card {
      width: 100%;
      max-width: none;
      margin: 0;
      height: 100%;
    }

    .content {
      width: 100%;
    }

    #daniel {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      background-image: url("images/bg-pattern-quotation.svg");
      background-repeat: no-repeat;
      background-position: top 0 right 5rem;
    }

    #jonathan {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }
    #kira {
      grid-column: 4 / 5;
      grid-row: 1 / 3;
    }

    #jeanette {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    #patrick {
      grid-column: 2 / 4;
      grid-row: 2 / 3;
    }
  }
}
